#countdown-container {
	display: inline-block; /*displays divs on a line*/
	width: 1000px; /*gives the div element a width of 300px*/
	margin: 20px 0; /*gives 20px space at the top and bottom of the div element*/
	border-radius: 5px; /*curves the edges of the div element by 5px;*/
	background: #232b2b; /*gives the div element a background color*/
}
#countdown {
	font-family: "Fira Sans", sans-serif; /*changes the text font in the divelement */
	display: inline-block; /*displays divs on a line*/
	padding: 30px; /*creates 30px space between the content of the div element and the walls of the div element*/
	background: #232b2b;
	color: white; /*changes the text color in the div element*/
	margin-top: 12%;
}

#countdown span {
	font-weight: bold; /*boldens text in the span element*/
	font-size: 60px; /*changes the text size in the span element*/
}
body {
	background-color: #232b2b;
}
